.heroContainer {
    padding: 7rem 0 0 0;
}

.heroDiv {
    width: 90rem;
    height: 25rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

.photoDiv {
    height: 18rem;
    width: 18rem;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    background-color: white;
}

.photoDiv img{
    height: 100%;
    width: 100%;
    max-width: 18rem;
    max-height: 18rem;
    padding: 0.3rem;
    border-radius: 100%;
    object-fit: cover;
}

.photoDiv:hover {
    scale: 1.05;
    transition: 1s;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

.description>h3 {
    color: var(--light-brand);
    font-size: 2.5rem;
    text-shadow: 0 0 3px #aaa8a8;
    align-self: flex-end;
}

.description>h2 {
    color: var(--light-brand);
    font-size: 2rem;
    text-shadow: 0 0 3px #aaa8a8;
    font-weight: 400;
    word-spacing: 1.5rem;
}

.platformsDiv {
    height: 4rem;
    display: flex;
    align-self: flex-end;
    gap: 4rem;
    color: var(--grey-brand);
    align-items: flex-end;
    justify-content: flex-end;
}

.platformsDiv>span {
    font-size: 3rem;
    transition: 0.5s;
    cursor: pointer;
}

.platformsDiv>span:hover {
    scale: 1.6;
    transition: 0.5s;
    color: black;
}

.platformsDiv>span:nth-child(2):hover {
    color: #0e76a8;
}
.platformsDiv>span:nth-child(3):hover {
    color: #e06969;
}

.laptopDiv {
    height: 45rem;
    width: 90rem;
    margin-top: 6rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.5);
}

.threeDots {
    height: 9%;
    background-color: rgb(197, 197, 197);
    padding: 0 1.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.threeDots>span {
    width: 1.4rem;
    height: 1.4rem;
    background-color: #ff605c;
    font-size: 1px;
    border-radius: 50%;
}

.threeDots>span:nth-child(2) {
    background-color: #ffbd44;
    color: #ffbd44;
}

.threeDots>span:nth-child(3) {
    background-color: #00ca4e;
    color: #00ca4e;
}

.laptopScreen {
    height: 91%;
    background-color: #314452d1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--light-brand);
    padding: 2.5rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.laptopScreen>div>p {
    letter-spacing: 1px;
    font-size: 1.8rem;
    margin: 0;
    padding: 1rem;
}

.laptopScreen>div>span {
    letter-spacing: 0.5px;
    color: var(--orange-brand);
    font-size: 1.3rem;
    font-weight: 500;
}

.flicker {
    animation: flicker 1s infinite;
    font-size: 0.8rem;
}

.flicker>span {
    width: 1.5rem;
    background-color: var(--orange-brand);
}

@keyframes flicker {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }