@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-image: url('/src/assets/mesh-gradient.png');
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 2rem;
    height: 2rem;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 24s linear infinite;
}




.background li:nth-child(0) {
    left: 81%;
    width: 14.6rem;
    height: 14.6rem;
    bottom: -14.6rem;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 36%;
    width: 13.5rem;
    height: 13.5rem;
    bottom: -13.5rem;
    animation-delay: 5s;
}
.background li:nth-child(2) {
    left: 23%;
    width: 11.5rem;
    height: 11.5rem;
    bottom: -11.5rem;
    animation-delay: 8s;
}
.background li:nth-child(3) {
    left: 0%;
    width: 17.3rem;
    height: 17.3rem;
    bottom: -17.3rem;
    animation-delay: 15s;
}
.background li:nth-child(4) {
    left: 16%;
    width: 14.7rem;
    height: 14.7rem;
    bottom: -14.7rem;
    animation-delay: 15s;
}
.background li:nth-child(5) {
    left: 33%;
    width: 13.0rem;
    height: 13.0rem;
    bottom: -13.0rem;
    animation-delay: 2s;
}
.background li:nth-child(6) {
    left: 0%;
    width: 14.1rem;
    height: 14.1rem;
    bottom: -14.1rem;
    animation-delay: 7s;
}
.background li:nth-child(7) {
    left: 71%;
    width: 16.5rem;
    height: 16.5rem;
    bottom: -16.5rem;
    animation-delay: 6s;
}
.background li:nth-child(8) {
    left: 76%;
    width: 10.3rem;
    height: 10.3rem;
    bottom: -10.3rem;
    animation-delay: 31s;
}
.background li:nth-child(9) {
    left: 69%;
    width: 11.3rem;
    height: 11.3rem;
    bottom: -11.3rem;
    animation-delay: 27s;
}
.background li:nth-child(10) {
    left: 15%;
    width: 16.0rem;
    height: 16.0rem;
    bottom: -16.0rem;
    animation-delay: 49s;
}
.background li:nth-child(11) {
    left: 40%;
    width: 14.8rem;
    height: 14.8rem;
    bottom: -14.8rem;
    animation-delay: 7s;
}
.background li:nth-child(12) {
    left: 71%;
    width: 15.2rem;
    height: 15.2rem;
    bottom: -15.2rem;
    animation-delay: 46s;
}
.background li:nth-child(13) {
    left: 4%;
    width: 15.7rem;
    height: 15.7rem;
    bottom: -15.7rem;
    animation-delay: 64s;
}
.background li:nth-child(14) {
    left: 45%;
    width: 12.4rem;
    height: 12.4rem;
    bottom: -12.4rem;
    animation-delay: 60s;
}
.background li:nth-child(15) {
    left: 73%;
    width: 11.0rem;
    height: 11.0rem;
    bottom: -11.0rem;
    animation-delay: 70s;
}
.background li:nth-child(16) {
    left: 53%;
    width: 10.8rem;
    height: 10.8rem;
    bottom: -10.8rem;
    animation-delay: 66s;
}
.background li:nth-child(17) {
    left: 5%;
    width: 15.8rem;
    height: 15.8rem;
    bottom: -15.8rem;
    animation-delay: 14s;
}
.background li:nth-child(18) {
    left: 70%;
    width: 12.5rem;
    height: 12.5rem;
    bottom: -12.5rem;
    animation-delay: 46s;
}
.background li:nth-child(19) {
    left: 39%;
    width: 13.0rem;
    height: 13.0rem;
    bottom: -13.0rem;
    animation-delay: 20s;
}
.background li:nth-child(20) {
    left: 13%;
    width: 10.9rem;
    height: 10.9rem;
    bottom: -10.9rem;
    animation-delay: 56s;
}
.background li:nth-child(21) {
    left: 69%;
    width: 15.0rem;
    height: 15.0rem;
    bottom: -15.0rem;
    animation-delay: 1s;
}
.background li:nth-child(22) {
    left: 36%;
    width: 10.6rem;
    height: 10.6rem;
    bottom: -10.6rem;
    animation-delay: 7s;
}
.background li:nth-child(23) {
    left: 9%;
    width: 15.0rem;
    height: 15.0rem;
    bottom: -15.0rem;
    animation-delay: 91s;
}
.background li:nth-child(24) {
    left: 88%;
    width: 11.9rem;
    height: 11.9rem;
    bottom: -11.9rem;
    animation-delay: 8s;
}
.background li:nth-child(25) {
    left: 68%;
    width: 17.0rem;
    height: 17.0rem;
    bottom: -17.0rem;
    animation-delay: 94s;
}
.background li:nth-child(26) {
    left: 84%;
    width: 16.3rem;
    height: 16.3rem;
    bottom: -16.3rem;
    animation-delay: 93s;
}
.background li:nth-child(27) {
    left: 22%;
    width: 11.3rem;
    height: 11.3rem;
    bottom: -11.3rem;
    animation-delay: 23s;
}
.background li:nth-child(28) {
    left: 22%;
    width: 14.7rem;
    height: 14.7rem;
    bottom: -14.7rem;
    animation-delay: 81s;
}
.background li:nth-child(29) {
    left: 67%;
    width: 15.7rem;
    height: 15.7rem;
    bottom: -15.7rem;
    animation-delay: 106s;
}
.background li:nth-child(30) {
    left: 38%;
    width: 16.0rem;
    height: 16.0rem;
    bottom: -16.0rem;
    animation-delay: 115s;
}
.background li:nth-child(31) {
    left: 79%;
    width: 15.6rem;
    height: 15.6rem;
    bottom: -15.6rem;
    animation-delay: 17s;
}
.background li:nth-child(32) {
    left: 14%;
    width: 12.5rem;
    height: 12.5rem;
    bottom: -12.5rem;
    animation-delay: 136s;
}
.background li:nth-child(33) {
    left: 89%;
    width: 10.4rem;
    height: 10.4rem;
    bottom: -10.4rem;
    animation-delay: 43s;
}
.background li:nth-child(34) {
    left: 59%;
    width: 14.3rem;
    height: 14.3rem;
    bottom: -14.3rem;
    animation-delay: 53s;
}
.background li:nth-child(35) {
    left: 40%;
    width: 14.3rem;
    height: 14.3rem;
    bottom: -14.3rem;
    animation-delay: 32s;
}
.background li:nth-child(36) {
    left: 29%;
    width: 11.5rem;
    height: 11.5rem;
    bottom: -11.5rem;
    animation-delay: 70s;
}
.background li:nth-child(37) {
    left: 78%;
    width: 12.0rem;
    height: 12.0rem;
    bottom: -12.0rem;
    animation-delay: 63s;
}
.background li:nth-child(38) {
    left: 12%;
    width: 10.5rem;
    height: 10.5rem;
    bottom: -10.5rem;
    animation-delay: 27s;
}
.background li:nth-child(39) {
    left: 63%;
    width: 15.8rem;
    height: 15.8rem;
    bottom: -15.8rem;
    animation-delay: 41s;
}
.background li:nth-child(40) {
    left: 55%;
    width: 15.9rem;
    height: 15.9rem;
    bottom: -15.9rem;
    animation-delay: 184s;
}
.background li:nth-child(41) {
    left: 73%;
    width: 15.0rem;
    height: 15.0rem;
    bottom: -15.0rem;
    animation-delay: 135s;
}
.background li:nth-child(42) {
    left: 56%;
    width: 14.3rem;
    height: 14.3rem;
    bottom: -14.3rem;
    animation-delay: 139s;
}
.background li:nth-child(43) {
    left: 49%;
    width: 10.5rem;
    height: 10.5rem;
    bottom: -10.5rem;
    animation-delay: 164s;
}
.background li:nth-child(44) {
    left: 17%;
    width: 11.4rem;
    height: 11.4rem;
    bottom: -11.4rem;
    animation-delay: 66s;
}
.background li:nth-child(45) {
    left: 4%;
    width: 15.4rem;
    height: 15.4rem;
    bottom: -15.4rem;
    animation-delay: 198s;
}
.background li:nth-child(46) {
    left: 11%;
    width: 11.3rem;
    height: 11.3rem;
    bottom: -11.3rem;
    animation-delay: 105s;
}
.background li:nth-child(47) {
    left: 32%;
    width: 12.1rem;
    height: 12.1rem;
    bottom: -12.1rem;
    animation-delay: 99s;
}
.background li:nth-child(48) {
    left: 46%;
    width: 15.6rem;
    height: 15.6rem;
    bottom: -15.6rem;
    animation-delay: 126s;
}
.background li:nth-child(49) {
    left: 9%;
    width: 16.6rem;
    height: 16.6rem;
    bottom: -16.6rem;
    animation-delay: 194s;
}