/* Navbar Container */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7rem;
  width: 100%;
  z-index: 2;
  background-color: rgba(44, 46, 52, 0.639);
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 12px rgb(35, 35, 35);
  padding: 0 15rem;
}

/* Navbar */
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

/* Navigation Menu */
.navMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  width: 100%;
}

/* Navbar Item */
.navItem {
  transition: 0.5s;
  cursor: pointer;
}

.navItem  {
  padding: 1.2rem;
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}

/* Navbar Item Hover */
.navItem:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

/* Active Class Styling */
.navItem.active {
  color: #f39c12; /* Active link color */
  padding-bottom: 1.2rem;
  border-bottom: 2px solid var(--light-brand); /* Border on active link */
}